@using System.Activities.Statements
@model Product
@{
    ViewBag.Title = "Product Add";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                <p><strong>Başarılı! </strong>@TempData["Message"]</p>
            </div>
        }
        <div class="card">
            <div class="card-header">
                <h4>Ürün Ekleme Formu</h4>
                <div class="text text-danger">@Html.ValidationSummary()</div>
            </div>
            <div class="card-block">
                @using (Html.BeginForm("Add", "Product", FormMethod.Post, new
                {
                    @class = "form-horizontal"
                }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(x => x.ProductName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", placeholder = "Ürün Adi" })
                            <br /><span class="text-danger">@Html.ValidationMessageFor(x => x.ProductName)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Barcode, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(x => x.Barcode, new { @class = "form-control", placeholder = "Barkod" })
                            <br /><span class="text-danger">@Html.ValidationMessageFor(x => x.Barcode)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.BuyPrice, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(x => x.BuyPrice, new { @class = "form-control", type = "number", step = "0.5", placeholder = "Alış Fiyatı" })
                            <br /><span class="text-danger">@Html.ValidationMessageFor(x => x.BuyPrice)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.SalesPrice, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(x => x.SalesPrice, new { @class = "form-control", type = "number", step = "0.5", placeholder = "Satış Fiyatı" })
                            <br /><span class="text-danger">@Html.ValidationMessageFor(x => x.SalesPrice)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.SupProductId, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(x => x.SupProductId, (List<SelectListItem>)ViewBag.ProductList, new { @class = "form-control", size = "1" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.CategoryId, new { @class = "col-md-3 control-label" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control", size = "1" })
                        </div>
                    </div>

                    <div class="form-group m-b-0">
                        <div class="col-md-9 col-md-offset-3">
                            <button class="btn btn-app" type="submit">Ürün Ekle</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

